
extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis ligula posuere, semper neque et, pulvinar est. Proin placerat, enim quis euismod blandit, urna nisi volutpat turpis, sit amet faucibus nulla arcu in nibh. Etiam dui lectus, volutpat a tortor ac, euismod.

                p Quisque velit elit, egestas in porttitor ac, commodo in ex. Nunc egestas porttitor laoreet. Integer est nulla, sollicitudin sit amet tristique nec, consequat a risus. Morbi feugiat dictum laoreet. Duis non aliquet urna. Proin molestie in metus in malesuada. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                p Morbi lectus nunc, eleifend eget rhoncus nec, pharetra non sem. Vestibulum a lectus augue. Praesent sed erat id turpis dapibus consectetur quis quis lectus. Pellentesque felis leo, viverra nec leo vitae, posuere tincidunt, ante velit cursus arcu, ac tempor nulla nisi ut ex.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Quisque velit elit, egestas in porttitor ac, commodo in ex. Nunc egestas porttitor laoreet. Integer est nulla, sollicitudin sit amet tristique nec, consequat a risus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Nullam pharetra nisi arcu, vel convallis nisl mollis sit amet. Nullam at massa cursus ipsum scelerisque semper. Maecenas et ipsum eget ante sodales posuere. Maecenas sit amet placerat elit.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Donec eu felis ultrices, blandit augue quis, porta tellus. Fusce elementum auctor dictum. Ut imperdiet malesuada molestie. Nunc non gravida erat, ullamcorper ultricies ex.